<div class="container">

    <div id="categories"></div>

    <div id="items"></div>

    <form action="/insert" method="post">
    <div id="orders"></div>
        <input type="hidden" name="bon" id="bon">
        <input type="hidden" name="bonPrice" id="bonPrice">
    </form>
</div>